<div class="card mb-3">
    <ul class="card-body">

        <li class>
            <img ng-src="src/app/imgs/client.png" 
                alt="{{ post.name }}" 
                class="profile-picture">
            <span class="card-title">{{post.title | uppercase }}</span>
        </li>
        
        <li>
            <p class="card-text" ng-click="ctrl.showMore(post)">
                {{post.body | truncate:50:post.showMore}} 
                <span class="showMore" ng-if="!post.showMore" > show More... </span>
            </p>
        </li>

        <li>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
            </p>
        </li>
        <hr>

        <li class="d-flex justify-content-between">
            <div class="like">               
                <i ng-click="ctrl.handledLiked(post)" 
                    class="fa fa-thumbs-up"
                    ng-style="{'color': post.isLike ? 'blue' : 'black'}"></i>
                <span>like {{post.likes}}</span>
            </div>

            <div  ng-click="ctrl.loadComments(post)" class="load-comment">
                <span>comments {{ctrl.post.length}}</span>
                <i  class="fa fa-comment"></i>
            </div>       
        </li>
        
        <li class="commentsm" ng-repeat="comment in post.comments " ng-if="post.comments && post.showComments">
            <hr>
            <i class="fa fa-user p-3 mr-3">
                <span class="p-1">{{comment.name}}</span>
            </i>
            <p>{{comment.body}}</p>
        </li>
    </ul>
</div>
