<div class="card mb-3" >
    <ul class="card-body">

        <li class="card-img">
            <img ng-src="src/assets/images/client.png" 
                alt="{{ post.name }}" 
                class="profile-picture mx-3">
            <span class="card-title">{{post.title | uppercase }}</span>
        </li>
        
        <li class="mx-4 card-content-text">
            <p class="card-text " ng-click="ctrl.showMore(post)">
                {{post.body | truncate:50:post.showMore}} 
                <span class="showMore" ng-if="!post.showMore" > show More... </span>
            </p>
            <small class="text-muted">Last updated 3 mins ago</small>    
        </li>

        <hr>

        <li class="icons-like-and-comment d-flex justify-content-between">
            <div class=""></div>
            <div class="like">               
                <i ng-click="ctrl.handledLiked(post)" 
                    class="fa fa-thumbs-up"
                    ng-style="{'color': post.isLike ? 'blue' : 'black'}"></i>
                <span>like {{post.likes}}</span>
            </div>  

            <div  ng-click="ctrl.loadComments(post)" class="load-comment">
                <span>comments {{ctrl.post.length}}</span>
                <i  class="fa fa-comment"></i>
            </div>  
            <div class=""></div>     
        </li>
        
        <li class="commentsm" ng-repeat="comment in post.comments " ng-if="post.comments && post.showComments">
            <hr>
               <div>
                <img ng-src="src/assets/images/harv.png" 
                alt="{{ post.name }}" 
                class="profile-picture profile-picture-comment {
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                 }">
                <span class="mx-3">{{comment.name | uppercase}}</span>
               </div>
           
            <p class="comment-body slanted-text">{{comment.body}}</p>
        </li>
    </ul>
</div>
