
<div class="container-about ">
  <!-- <h1 class="text-center">About AS</h1> -->
  
  <form ng-submit="ctrl.addTask()" >
      <div class="d-flex">

        <input type="text" 
          ng-model="ctrl.newTask"
          placeholder="Add a new task" 
          ng-focus="ctrl.onFocus()"
          class="form-control" >

        <button type="submit" class="btn btn-primary ml-2">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    
        <div ng-if="ctrl.newTaskError">
          <span style=
              "color: #fff; 
              background: rgb(226, 126, 126); 
              padding: 3px; max-width: 45%; display: block;">
              New Task is required.
          </span>
        </div>
  </form>

  <div class="d-flex justify-content-between">
      <h2 style="color: #fff;">Welcome, may God bless you</h2>
      <button ng-click="ctrl.removeAllTasks()" 
         
          class="btn btn-danger my-1">
          <i class="fa fa-trash"></i> 
          Remove All Tasks 
      </button>
      
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Task Completed</th>
        <th>Task Title </th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="task in ctrl.pagedTasks track by $index ">
        <td class="index">{{ctrl.pageSize * ctrl.currentPage + $index + 1 }}</td>
        <td class="completed"><input type="checkbox" ng-model="task.completed"> </td>
        <td class="title"><span>{{ task.title }}</span></td>
        <td class="remove">
          <button 
            ng-click="ctrl.removeTask(task.id)" 
            ng-disabled = "!task.completed"
            class="btn btn-danger" >
            <i class="fa fa-trash"></i> Remove
          </button>
        </td>
      </tr>
    </tbody>  
  </table>

  <pagination-directive 
      ng-if="ctrl.pagedTasks.length"
      page-size="ctrl.pageSize"
      current-page="ctrl.currentPage"
      total-pages="ctrl.totalPages"
      update-paged-tasks="ctrl.updatePagedTasks"
      is-disabled="ctrl.isDisabled"
      page-size-options="ctrl.pageSizeOptions">
  </pagination-directive> 
 <!-- <div class="mt-4" ng-if="ctrl.pagedTasks.length">
    <select  style="width: 160px;  background: #f0ecec;"
        name="page"
        class="form-control mb-4"  
        ng-model="ctrl.pageSize" 
        ng-change="ctrl.updatePagedTasks()"
        ng-options="option.id as option.name for option in ctrl.pageSizeOptions">
    </select>

        <button 
          ng-click="ctrl.prevPage()" 
          ng-disabled = "!ctrl.currentPage"
          class="btn btn-primary">
          <i class="fa fa-arrow-left"></i> 
          Previous Page
        </button>

        <span style="color: #fff; font-weight: bold;">
          {{ ctrl.currentPage + 1 }} / {{ ctrl.totalPages  }}
        </span>

        <button 
        ng-click="ctrl.nextPage()" 
        class="btn btn-primary ml-1"
        ng-disabled = "ctrl.isDisabled"
        >Next Page <i class="fa fa-arrow-right"></i>
      </button>

  </div> -->

</div> 
