<form  ng-submit="ctrl.validationError()" >
    <div class="mb-3">
      <label for="username" class="form-label">Email address</label>
     
      <input type="text"
        ng-model="ctrl.username"
        class="form-control" 
        id="username" 
        name="username"
        ng-focus="ctrl.onFocus()"
        placeholder="Add Username">

        <div ng-if="ctrl.usernameErr">
          <span style="color: red;">Username is required.</span>
        </div>

    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      
      <input type="password"
        name="password"
        ng-model="ctrl.password"
        ng-focus="ctrl.onFocus(ctrl.passwordErr)"
        id="password" 
        class="form-control"
        placeholder="Add Password">

        <div ng-if="ctrl.passwordErr">
          <span style="color: red;">Password is required.</span>
        </div>

    </div>

    <div class="mb-3">
      <label for="message" class="form-label">Message</label>  
      
      <input type="text" 
        name="message"
        ng-model="ctrl.message"
        ng-focus="ctrl.onFocus(ctrl.messageErr)"
        id="message" 
        class="form-control"
        placeholder="Add Message">

        <div ng-if="ctrl.messageErr">
          <span style="color: red;">Message is required.</span>
        </div>
    </div>
    
    <button type="submit" 
    class="btn btn-primary">Submit</button>

</form>